li {
  list-style: none;
}
.category-button {
  height: 40px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border-width: 0px;
  width: max-content;
}

.actice-category {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 18px;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #f50539;
  border-style: solid;
  color: #f50539;
  padding-bottom: 5px;
  width: max-content;
}
